    $thefont: 'Poppins', sans-serif;
.container{
    h3{
        font-size: 40px;
        font-family: $thefont;
        font-weight: bold;
        color: #FF0062;

     }
     @media only screen and (max-width: 640px) {
        h3{
            margin-left: 1%;
        }
    }
    .row{
        align-items: center;
        .col-sm{
            p{
                padding: 20px;
                font-family: $thefont;
                font-size: 20px;
                color: rgb(61, 61, 61);
            }
            .caption-img{
                margin: 60px;
                width: 550px;
               
               
            }
            @media only screen and (max-width: 640px) {
                .caption-img{
                    display: none;
                }
            }
        }

        .img-col{
            display: flex;
        justify-content: center;
        }
    }
}
